body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

h1 {
  font-size: 1.375rem;
  color: #29383c;
}

p {
  font-size: .875rem;
  color: #747474;
}

@import './card-grid.scss';
@import './card.scss';
